version: "3.9"

services:
  analysis:
    build:
      context: .
      dockerfile: Dockerfile
    image: group26:latest
    container_name: group26_container
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      JUPYTER_TOKEN: "mds522"
    tty: true
